:root {
    /* ### Primary */
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    /* ### Neutral */
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--Grayish-Blue);
}

.card {
    background-color: var(--Dark-Grayish-Blue);
    max-width: 342px;
    width: 80%;
    text-align: center;
    padding: 1.6rem;
    border-radius: 0.5rem;
}

.title {
    color: var(--Neon-Green);
    padding: 1rem 1rem 1.5rem 1rem;
    font-size: 0.7rem;
    letter-spacing: 3px;

}

.quote {
    font-size: 1.46rem;
    font-weight: 800;
    color: var(--Light-Cyan);
    margin-bottom: 1.5rem;
}

#divisor {
    margin-bottom: 2rem;
    width: 100%;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.button {
    background-color: var(--Neon-Green);
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: -60px;
}

.button:hover {
    box-shadow: 0 0 20px var(--Neon-Green);
}

@media screen and (min-width: 550px) {
    .card {
        width: 540px;
        text-align: center;
        padding: 1.8rem 2rem;
        border-radius: 1rem;
    }

    .title {
        padding: 1rem 1rem 1.5rem 1rem !important;
        font-size: 0.9rem;

    }

    .quote {
        font-size: 1.75rem;
        font-weight: 800;
        color: var(--Light-Cyan);
        margin-bottom: 1.5rem;
    }
}